 <ion-view view-title="Find Employee">          
            <ion-content  class="padding_findEmployee" delegate-handle="mainScroll">
            <h5 align="center">Find Employee: {{employeeName}}</h5>  
            
                <div id="map" data-tap-disabled="true"></div>
            </ion-content>
            <ion-floating-button click="scrollToTop()" has-footer="false" button-color="#2AC9AA" icon="ion-ios-arrow-up" iconColor="#fff" class="bottomPadding">
          </ion-floating-button>
        </ion-view>
         