<!--VIEW WORKORDER -> EmployeePage -->
    
<!-- filteringByZoneFacilityFloor -->

        <ion-view view-title="View Work Order">
            <div cg-busy="{promise:myPromise,message:'Loading...',delay:300,minDuration:700,backdrop:true}"></div> 
        <div class="bar bar-subheader">
        <div class="button-bar">
           <a class="button" ng-class="{'button-small buttonScan': isActive('employeeFilter')}" ng-click="setActive('employeeFilter');" ui-sref="managerDashboard.filteringByEmployeeList">Employee</a>
            <a class="button" ng-class="{'button-small buttonScan': isActive('facilityFilter')}" ng-click="setActive('facilityFilter');getAllFacility();" ui-sref="managerDashboard.filteringByFacility">Facility</a>
            <a class="button" ng-class="{'button-small buttonScan': isActive('statusFilter')}" ng-click="setActive('statusFilter');getAllWorkStatus();" ui-sref="managerDashboard.filteringByStatus">Status</a>
          </div>
    </div>
         
            <ion-content class="padding_workorderview"  delegate-handle="mainScroll">
            <!--  <ion-scroll direction="xy" class="scrollClass" delegate-handle="small"> -->
            <!-- <ion-scroll zooming="true" direction="xy" style="width: 100%; "> -->
             
             <!-- <input type = "date" ng-model="WorkorderDateFilter" ng-change="viewWorkorderFilterByDate()"/> -->
<div class="padding findEmployee text-center" >
        
        <ion-list>
                
                <div class="item item-icon-right" ng-repeat="data in floorListByZoneFacility" ng-show="showFloorList && showFacilityAccordion !== true && filteringByFacility !== true;" ng-click="getAllWorkorderByFacilityFloorZone({{facilitykey}},data.ZoneKey,{{floor_key}})" >               
                   <i class="icon ion-chevron-right"></i>    {{data.ZoneName}}
                </div>
          </ion-list>
      
</div>

               
            <!--  <ion-list>
                  <ion-item ng-repeat="item in facilityList">
                       {{item.FacilityText}}
                  </ion-item>
            </ion-list>
 -->        
 <div class="item item-icon-right" ng-repeat="data in viewworkorder" ng-show="filteringByFacility && showFacilityAccordion !== true && showFloorList !== true;">
                    <a class="item item-text-wrap text-center" ui-sref="managerDashboard.detailedWorkorderView({workorderKey: data.WorkorderKey})">                                
                          <h2>{{data.WorkorderTypeName}}</h2>
                          <div ng-show="data.FacilityName">
                          <p>{{data.FacilityName}} - {{data.ZoneName}} - {{data.FloorName}}</p>
                          <p>{{data.WorkorderTime}}</p>
                          <p>Assigned to : {{data.LastName}},{{data.FirstName}} </p>
                          <p>
                            <ion-label class="label text-Scheduled-{{data.WorkorderStatus === 'Scheduled'}} 
                            text-InProgress-{{data.WorkorderStatus === 'InProgress'}}
                            text-Completed-{{data.WorkorderStatus === 'Completed'}} 
                            text-Delayed-{{data.WorkorderStatus === 'Delayed'}} 
                            text-Cancelled-{{data.WorkorderStatus === 'Cancelled'}}">
                                  {{data.WorkorderStatus}}
                            </ion-label>
                          </p>
                         </div> 
                    </a>    <i class="icon ion-chevron-right"></i>     
 </div>
            




     
   
   








            <!-- <ion-scroll zooming="true" direction="y" style="width: 100%;height: 500px !important;" class="scrollClass" delegate-handle="small" >
            <div class="container-fluid" ng-controller="WorkOrderViewCtrl"><br>
                <ion-refresher pulling-text="Pull to refresh.." on-refresh="doRefresh()"></ion-refresher>
            <div class="container">Search work order by:
            <div class = "list">                                                      
                <label class = "col-sm-2 item item-input item-select control-label">
                <div class = "col-sm-2 input-label">Facility
                    <select  ng-model="z.FacilityKey" ng-options="z.FacilityText for z in facilityList" value="z.FacilityKey" ng-change="viewWorkorderFilterByFacility('facility',z.FacilityKey.FacilityKey)">
                        <option label="--all--"></option>
                    </select>
                   </div> </label>
            </div>


            <div class="list">
                <label class = "col-sm-1 control-label item item-input item-select">
                <div class = "col-sm-1 input-label">Date
                    <input type="date" ng-model="WorkorderDate" name="dateFilter" ng-change="viewWorkorderFilterByDate()">
                </div></label>
            </div>

         
           
             <div class="padding_right"> 
        <div class="row header">
          <div class="col">Workorder</div>
          <div class="col">Room</div>
          <div class="col">Equipment</div>
          <div class="col">Employee</div>
          <div class="col" style="width:auto">Action</div>
        </div>    
        <div class="row" ng-repeat="data in viewworkorder">
          <div class="col">{{data.WorkorderTypeName}}</div>
          <div class="col">{{data.RoomId}}</div>
           <div class="col">{{data.EquipmentType}}</div>
          <div class="col">{{data.FirstName}}</div>
          <div class="col" style="width:auto">
            <button class=" button button-brown-{{data.WorkorderStatus === 'Scheduled'}} 
                                   button-green-{{data.WorkorderStatus === 'InProgress'}}
                                   button-yellow-{{data.WorkorderStatus === 'Completed'}}" 
                                   ng-click="captureImage(data.WorkorderKey)" ng-if="data.IsPhotoRequired == 1" >
                                   <i class="icon ion-camera"></i>
            </button>
            <button class=" button button-brown-{{data.WorkorderStatus === 'Scheduled'}} 
                                   button-green-{{data.WorkorderStatus === 'InProgress'}}
                                   button-yellow-{{data.WorkorderStatus === 'Completed'}}"
                                   on-hold="showBarcodePopup(data.WorkorderKey)" on-tap="scanBarcode(data.WorkorderKey)" ng-if="data.IsBarcodeRequired == 1">
                                   <i class="icon ion-ios-barcode-outline"></i>
                                   
            </button> 
            <button class=" button button-brown-{{data.WorkorderStatus ==='Scheduled'}}
                                   button-green-{{data.WorkorderStatus === 'InProgress'}}
                                   button-yellow-{{data.WorkorderStatus === 'Completed'}}"
                                   ng-click="workCompleted(data.WorkorderKey)" ng-if="data.IsBarcodeRequired==0 && data.IsPhotoRequired==0">
                                   <i class="icon ion-checkmark-circled"></i>
            </button>
          </div>
        </div>     
  
        </div>
          </div>  
        

        </div>
        </ion-scroll> -->
<div><br><br></div>

<!-- <div class="float-button" ng-click="scrollToTop()">
<span class="height-fix">
   <a class="content">
      <i class="ion-ios-arrow-up"> </i>
   </a>
    </span>
</div> -->
               <!--  </ion-scroll> -->
            </ion-content>
            <ion-floating-button click="scrollToTop()" has-footer="false" button-color="#2AC9AA" icon="ion-ios-arrow-up" iconColor="#fff" class="bottomPadding">
          </ion-floating-button>
        </ion-view>
         