<!--VIEW WORKORDER  -->
<ion-view view-title="Work Order">
    
         <div cg-busy="{promise:myPromise,message:'Loading...',delay:300,minDuration:700,backdrop:true}"></div> 
            <ion-content class="padding_inspection"  delegate-handle="mainScroll">
 
             <div class="inspectionMenuButtons">
              <p><a class="button button-dark  button-block"  ui-sref="managerDashboard.createWorkorder">Create Work Order</a></p>
              <p><a class="button button-dark button-block"  ui-sref="managerDashboard.createQuickOrder">Create Quick Order</a></p>
              <p><a class="button button-dark button-block"  ui-sref="managerDashboard.managerViewWorkorder">View Work Order</a></p>
              <!-- <p><a class="button button-dark button-block" ng-click="locationTracker()">LocationTracker</a></p> -->
           </div>

            </ion-content>
            
        </ion-view>
         