<ion-view view-title="Trade">
    <div cg-busy="{promise:myPromise,message:'Loading...',delay:300,minDuration:700,backdrop:true}"></div>
    <ion-content class="padding_inspection" delegate-handle="mainScroll">
        <div style="padding-bottom: 50px;">
            <ion-list>
                <ion-item ng-repeat="data in viewtrade">
                    <div class="item item-icon-right">
                        <a class="item item-text-wrap text-center" ng-If="showme" ui-sref="employeeDashboard.employeeEditTrade({traderequestDetails: data.trade_requestID})">
                            <div>
                                <p>{{data.RequestStatus}}</p>
                                <p>{{data.StartDate}} - {{data.EndDate}}</p>
                            </div>
                        </a>
                        <i class="icon ion-chevron-right"></i>
                        <a class="item item-text-wrap text-center" ng-If="!showme">
                            <h2>No Trades found!</h2>
                        </a>
                        <i class="icon ion-chevron-right"></i>
                    </div>
                </ion-item>
            </ion-list>
        </div>
        <!-- <div><br><br></div> -->
    </ion-content>
    <!-- <ion-floating-button click="scrollToTop()" has-footer="false" button-color="#2AC9AA" icon="ion-ios-arrow-up" iconColor="#fff" class="bottomPadding">
    </ion-floating-button> -->
</ion-view>