<ion-view view-title="Work Order Details">
  <div cg-busy="{promise:myPromise,message:'Loading...',delay:300,minDuration:700,backdrop:true}"></div>
  <div class="bar bar-subheader">
    <div class="button-bar">
      <!--  <a class="button" ng-class="{'button-small buttonScan': isActive('employeeFilter')}" ng-click="setActive('employeeFilter');" ui-sref="employeeDashboard.filteringByEmployeeList">Employee</a> -->
      <a class="button" ng-class="{'button-small buttonScan': isActive('facilityFilter')}" ng-click="setActive('facilityFilter');getAllFacility();" ui-sref="employeeDashboard.filteringByFacility">Facility</a>
      <a class="button" ng-class="{'button-small buttonScan': isActive('statusFilter')}" ng-click="setActive('statusFilter');getAllWorkStatus();" ui-sref="employeeDashboard.filteringByStatus">Status</a>
    </div>
  </div>

  <ion-content class="padding_workorderview" delegate-handle="mainScroll">
    <!--  <ion-scroll direction="xy" class="scrollClass" delegate-handle="small"> -->
    <!-- <ion-scroll zooming="true" direction="xy" style="width: 100%; "> -->

    <!-- <p>viewWorkorderDetails</p>
            <input type = "date" class = "form-control"  ng-model="WorkorderDate"> -->
    <div class=""></div>

    <div ng-show="noWorksFound" class="">
      <div class="item item-icon-right">
        <a class="item item-text-wrap text-center">
          <h2>No Works Found!</h2>
        </a>
      </div>
    </div>
    <div ng-hide="noWorksFound" class="">

      <div class="list " ng-repeat="items in viewEmpWorkorderDetails">
        <div class="item item-text-wrap viewWorkorderDetails">

          <div class="row headerRow">
            <div class="col text-center">
              <strong>{{items.WorkorderTypeName}}</strong>
            </div>
          </div>
          <div class="row">
            <div class="col text-left">Facility </div>
            <div class="col text-right">{{items.FacilityName}}</div>
          </div>
          <div class="row" ng-if="items.ZoneName !== 'null'">
            <div class="col text-left">Zone </div>
            <div class="col text-right">{{items.ZoneName}}</div>
          </div>
          <div class="row" ng-if="items.FloorName !== 'null'">
            <div class="col text-left">Floor </div>
            <div class="col text-right">{{items.FloorName}}</div>
          </div>
          <div class="row">
            <div class="col text-left">Room </div>
            <div class="col text-right">{{items.RoomText}}</div>
          </div>
          <div class="row" ng-if="items.EquipmentType !== 'null'">
            <div class="col text-left">Equipment Type </div>
            <div class="col text-right">{{items.EquipmentType}}</div>
          </div>
          <div class="row">
            <div class="col text-left">Equipment </div>
            <div class="col text-right">{{items.EquipmentName}}</div>
          </div>
          <div class="row">
            <div class="col text-left">Assigned to </div>
            <div class="col text-right">{{items.EmployeeText}}</div>
          </div>
          <div class="row">
            <div class="col text-left">Date </div>
            <div class="col text-right">{{items.WorkorderDate}}</div>
          </div>
          <div class="row">
            <div class="col text-left">Time </div>
            <div class="col text-right">{{items.WorkorderTime}}</div>
          </div>

          <div class="row" ng-if="items.WorkorderStatus === 'Completed'">
            <div class="col text-left">Check in </div>
            <div class="col text-right">{{items.checkin1}}</div>
          </div>

          <div class="row" ng-if="items.WorkorderStatus === 'Completed'">
            <div class="col text-left">Check out </div>
            <div class="col text-right">{{items.checkout1}}</div>
          </div>
          <div class="row" ng-if="items.WorkorderStatus === 'Completed'">
            <div class="col text-left">Delay time </div>
            <div class="col text-right">{{items.DelayTime}}</div>
          </div>

          <div class="row" ng-if="items.WorkorderStatus === 'Completed'">
            <div class="col text-left">Duration </div>
            <div class="col text-right">{{items.duration}}</div>
          </div>



          <div class="row" ng-if="items.WorkorderNotes !== 'null'">
            <div class="col text-left">Notes </div>

          </div>
          <div class="row" ng-if="items.WorkorderNotes !== 'null'">

            <div class="col text-right">{{items.WorkorderNotes}}</div>
          </div>

          <!-- <div>
                  <a class="button button-dark button-block" ng-click="locationTracker()">LocationTracker</a>
                </div> -->
          <div class="row">
            <div class="col text-center">
              <ion-label class="label 
                                   text-Scheduled-{{items.WorkorderStatus === 'Scheduled'}} 
                                   text-InProgress-{{items.WorkorderStatus === 'InProgress'}}
                                   text-Completed-{{items.WorkorderStatus === 'Completed'}} 
                                   text-Delayed-{{items.WorkorderStatus === 'Delayed'}} 
                                   text-Cancelled-{{items.WorkorderStatus === 'Cancelled'}}
                                   statusFont">
                <strong> {{items.WorkorderStatus}}</strong>
              </ion-label>
            </div>
          </div>
          <div class="row">
            <div class="row col text-center" ng-if="(items.WorkorderStatus != 'Cancelled' && items.WorkorderStatus != 'Completed')">
              <button style="width:60% !important" class="button   button-cancel" ui-sref="employeeDashboard.workorderCancel({workorderKey: items.WorkorderKey})">Workorder Cancel</button>
            </div>
          </div>
          <div class="row col text-center" ng-if="items.WorkorderStatus == 'InProgress'">
            <button style="width:60% !important"  class=" button  button-delay " on-tap="delayCurrentWorkOrder(items.WorkorderKey)">
              <h2>Delay</h2>

            </button>
          </div>
          <div class="row col text-center" ng-if="items.WorkorderStatus == 'Delayed'">
            <button style="width:60% !important" class=" button  button-delay" on-tap="continueCurrentWorkOrder(items.WorkorderKey)">
              <h2>Continue</h2>

            </button>
          </div>



          <!--   <h2>{{items.WorkorderTypeName}}</h2>
                  <p>Facility : {{items.FacilityName}} </p>
                  <p>Zone : {{items.ZoneName}} </p>
                  <p>Floor : {{items.FloorName}} </p>
                  <p>Room : {{items.RoomText}}</p>
                  <p>Equipment Type : {{items.EquipmentType}} </p>
                  <p>Equipment : {{items.EquipmentName}}</p>
                  <p>Assigned to : {{items.EmployeeText}}</p>
                  <p>DateTime : {{items.WorkorderDate}}-{{items.WorkorderTime}}</p>
                  <p>Notes : {{items.WorkorderNotes}}</p>
                  <p>
                  <ion-label 
                          class="label text-brown-{{items.WorkorderStatus === 'Scheduled'}} 
                                   text-green-{{items.WorkorderStatus === 'InProgress'}}
                                   text-yellow-{{items.WorkorderStatus === 'Completed'}}">
                          {{items.WorkorderStatus}}
                  </ion-label>
                </p> -->
          <!-- <div class="row" ng-if="items.WorkorderStatus != 'Cancelled'">
            <div class=" col text-center" ng-if="items.IsPhotoRequired == 1 &&items.WorkorderStatus != 'Delayed'">
              <button style="width:100%" class=" button button-large button-Scheduled-{{items.WorkorderStatus === 'Scheduled'}} 
                                   button-InProgress-{{items.WorkorderStatus === 'InProgress'}}
                                   button-Completed-{{items.WorkorderStatus === 'Completed'}} workorder_Button" ng-click="takePhoto(items.WorkorderKey)" ng-if="items.IsPhotoRequired == 1 ">
                <i class="icon ion-camera"></i>
                <h2 class="button-InProgress-text-{{items.WorkorderStatus === 'InProgress'}}
                button-Scheduled-text-{{items.WorkorderStatus === 'Scheduled'}}"> Photo </h2>
              </button>
            </div>
            <div class=" col text-center" ng-if="items.IsBarcodeRequired == 1 &&items.WorkorderStatus != 'Delayed'">
              <button style="width:100%" class=" button button-large button-Scheduled-{{items.WorkorderStatus === 'Scheduled'}} 
                                   button-InProgress-{{items.WorkorderStatus === 'InProgress'}}
                                   button-Completed-{{items.WorkorderStatus === 'Completed'}} workorder_Button" on-tap="scanBarcode(items.WorkorderKey)" ng-if="items.IsBarcodeRequired == 1">
                <i class="icon ion-ios-barcode"></i>
                <h2 class="button-InProgress-text-{{items.WorkorderStatus === 'InProgress'}}
                button-Scheduled-text-{{items.WorkorderStatus === 'Scheduled'}}">Barcode</h2>

              </button>
            </div>

            <div class=" col text-center" ng-if="items.IsSnapshot == 1 &&items.WorkorderStatus != 'Delayed'">
              <button style="width:100%" class=" button button-large button-Scheduled-{{items.WorkorderStatus === 'Scheduled'}} 
                                   button-InProgress-{{items.WorkorderStatus === 'InProgress'}}
                                   button-Completed-{{items.WorkorderStatus === 'Completed'}} workorder_Button" on-tap="locationTracker()" ng-if="items.IsSnapshot == 1">
                <i class="icon ion-location"></i>
                <h2 class="button-InProgress-text-{{items.WorkorderStatus === 'InProgress'}}
                button-Scheduled-text-{{items.WorkorderStatus === 'Scheduled'}}">Snapshot</h2>

              </button>
            </div>



             <div class = " col text-center" ng-if="items.IsBarcodeRequired == 1 ">
                    <button class=" button button-large button-brown-true workorder_Button"
                                   on-hold="showBarcodePopupWorks(items.WorkorderKey)" on-tap="reloadWorkOrderView()" ng-if="items.IsBarcodeRequired == 1">
                                   <i class="icon ion-ios-barcode"></i><h2>Reload</h2>
                                   
            </button> 
                  </div> 




            <div class="col text-center" ng-if="items.IsBarcodeRequired==0 && items.IsPhotoRequired==0 && items.IsSnapshot==0&&items.WorkorderStatus != 'Delayed'">
              <button class=" button button-large button-Scheduled-{{items.WorkorderStatus ==='Scheduled'}}
                                   button-InProgress-{{items.WorkorderStatus === 'InProgress'}}
                                   button-Completed-{{items.WorkorderStatus === 'Completed'}}
                                    workorder_Button" ng-click="workCompleted(items.WorkorderKey)" ng-if="items.IsBarcodeRequired==0 && items.IsPhotoRequired==0 && items.IsSnapshot==0">
                <i class="icon ion-checkmark-circled"></i>
                <h2 class="button-InProgress-text-{{items.WorkorderStatus === 'InProgress'}}
                button-Scheduled-text-{{items.WorkorderStatus === 'Scheduled'}}">Workorder Completed</h2>
              </button>
            </div>
          </div> -->

          <div class="row col text-center" ng-if="((items.WorkorderStatus != 'Cancelled') && (items.WorkorderStatus != 'Completed'))">

              <button ng-if="items.IsPhotoRequired == 1 &&items.WorkorderStatus != 'Delayed'" class=" button buttonSize button-large button-Scheduled-{{items.WorkorderStatus === 'Scheduled'}} 
                      button-InProgress-{{items.WorkorderStatus === 'InProgress'}}
                      button-Completed-{{items.WorkorderStatus === 'Completed'}} workorder_Button" ng-click="takePhoto(items.WorkorderKey)" ng-if="items.IsPhotoRequired == 1">
                <i class="icon ion-camera"></i>
                <h2 class="button-InProgress-text-{{items.WorkorderStatus === 'InProgress'}}
                  button-Scheduled-text-{{items.WorkorderStatus === 'Scheduled'}}"> Photo</h2>
              </button>
  
  
              <button ng-if="items.IsBarcodeRequired == 1 &&items.WorkorderStatus != 'Delayed'" class=" button buttonSize button-large button-Scheduled-{{items.WorkorderStatus === 'Scheduled'}} 
                      button-InProgress-{{items.WorkorderStatus === 'InProgress'}}
                      button-Completed-{{items.WorkorderStatus === 'Completed'}} workorder_Button" on-tap="scanBarcode(items.WorkorderKey)" ng-if="items.IsBarcodeRequired == 1">
                <i class="icon ion-ios-barcode"></i>
                <h2 class="button-InProgress-text-{{items.WorkorderStatus === 'InProgress'}}
                  button-Scheduled-text-{{items.WorkorderStatus === 'Scheduled'}}">Barcode</h2>
  
              </button>
  
  
  
              <button ng-if="items.IsSnapshot == 1 &&items.WorkorderStatus != 'Delayed'" class=" button buttonSize button-large button-Scheduled-{{items.WorkorderStatus === 'Scheduled'}} 
                      button-InProgress-{{items.WorkorderStatus === 'InProgress'}}
                      button-Completed-{{items.WorkorderStatus === 'Completed'}} workorder_Button" on-tap="locationTracker()" ng-if="items.IsSnapshot == 1">
                <i class="icon ion-location"></i>
                <h2 class="button-InProgress-text-{{items.WorkorderStatus === 'InProgress'}}
                  button-Scheduled-text-{{items.WorkorderStatus === 'Scheduled'}}">Snapshot</h2>
  
              </button>
  
  
  
              <button ng-if="items.IsBarcodeRequired==0 && items.IsPhotoRequired==0 && items.IsSnapshot==0 &&items.WorkorderStatus != 'Delayed'" class=" button button-large button-Scheduled-{{items.WorkorderStatus === 'Scheduled'}} 
                        button-InProgress-{{items.WorkorderStatus === 'InProgress'}}
                        button-Completed-{{items.WorkorderStatus === 'Completed'}} workorder_Button" ng-click="workCompleted(items.WorkorderKey)">
                <i class="icon ion-checkmark-circled"></i>
                <h2 class="button-InProgress-text-{{items.WorkorderStatus === 'InProgress'}}
                  button-Scheduled-text-{{items.WorkorderStatus === 'Scheduled'}}">Finish</h2>
              </button>
  
            </div>
        </div>
        <!--   <a class="list icon-circle-large icon-circle-outline">
          <i class="ion-star"></i>
          </a>
                <p class="list icon-circle-large icon-circle-outline">
          <i class="icon ion-camera"></i>
          </p>  -->
      </div>



    </div>
    <div><br><br></div>
    <!--  <div class="float-button" ng-click="scrollToTop()">
<span class="height-fix">
   <a class="content">
      <i class="ion-ios-arrow-up"> </i>
   </a>
    </span>
</div> -->
    <!--  </ion-scroll> -->
  </ion-content>
  <ion-floating-button click="scrollToTop()" has-footer="false" button-color="#2AC9AA" icon="ion-ios-arrow-up" iconColor="#fff">
  </ion-floating-button>
</ion-view>