<ion-view view-title="Trade Details">
    <div cg-busy="{promise:myPromise,message:'Loading...',delay:300,minDuration:700,backdrop:true}"></div>
    <ion-content delegate-handle="mainScroll">

        <div ng-show="noWorksFound">
            <div class="item item-icon-right">
                <a class="item item-text-wrap text-center">
                    <h2>No Details Found!</h2>
                </a>
            </div>
        </div>
        <div ng-hide="noWorksFound">

            <div class="list padding-bottom" ng-repeat="data in viewEmpTradeDetails">
                <div class="item item-text-wrap viewWorkorderDetails" ng-if="data.StatusKey == 1 && data.EmployeeKey == toServeremployeekey">
                    <div class="list padding-bottom">
                        <div class="item item-divider">Start Date*</div>
                        <div class="item item-icon-left" ion-datetime-picker date monday-first ng-model="startdate" ng-click="openDatePicker1();">
                            <i class="icon ion-ios-calendar-outline positive"></i>
                            Click to open the date:
                            <div class="input-label">{{startdate}}</div>
                        </div>
                        <div class="item item-divider">End Date*</div>
                        <div class="item item-icon-left" ion-datetime-picker date monday-first ng-model="enddate" ng-click="openDatePicker2();">
                            <i class="icon ion-ios-calendar-outline positive"></i>
                            Click to open the date:
                            <div class="input-label">{{enddate}}</div>
                        </div>
                        <label class="item item-input item-select">
                            <div class="input-label" ng-init="trade.EmployeeKey=otherempKey">Employee*</div>
                            <select ng-model="trade.EmployeeKey" ng-options="x.EmployeeKey as x.EmployeeName for x in allEmployeeList | unique:'EmployeeName'" ng-value="x.EmployeeKey">
                                <option label=" Select "></option>
                            </select>
                        </label>
                        <label class="item item-input">
                            <div class="input-label">Comments</div>
                            <textarea rows="6" ng-model="trade.Comments" maxlength="200" placeholder="Comments"></textarea>
                        </label>
                    </div>
                </div>
                <div class="item item-text-wrap viewWorkorderDetails" ng-if="data.StatusKey == 1 && data.OtherEmployeeKey == toServeremployeekey" ng-init="status = ['Approved', 'Rejected']">
                    <div class="list padding-bottom">

                        <div class="item item-divider">Trade Request Details</div>
                        <label class="item item-input">
                            <div class="col text-left">Start Date </div>
                            <div class="col text-right">{{data.StartDate}}</div>
                        </label>
                        <label class="item item-input">
                            <div class="col text-left">End Date </div>
                            <div class="col text-right">{{data.EndDate}}</div>
                        </label>
                        <label class="item item-input">
                            <div class="col text-left">Requested Employee Name </div>
                            <div class="col text-right">{{data.Employeename}}</div>
                        </label>
                        <label class="item item-input">
                            <div class="col text-left">Requested Employee Number </div>
                            <div class="col text-right">{{data.EmployeeKey}}</div>
                        </label>
                        <label class="item item-input">
                            <div class="col text-left">Other Employee Name </div>
                            <div class="col text-right">{{data.OtherEmployeename}}</div>
                        </label>
                        <label class="item item-input">
                            <div class="col text-left">Other Employee Number </div>
                            <div class="col text-right">{{data.OtherEmployeeKey}}</div>
                        </label>
                        <label class="item item-input">
                            <div class="col text-left">Submitted Date </div>
                            <div class="col text-right">{{data.SubmittedDate}}</div>
                        </label>
                        <label class="item item-input">
                            <div class="col text-left">Comments </div>
                            <div class="col text-right">{{data.Comments}}</div>
                        </label>

                        <div class="item item-divider">Approve/Reject</div>
                        <label class="item item-input item-select">
                            <div class="input-label">Status*</div>
                            <select ng-model="trade.Status" ng-options="x for x in status" ng-change="selectStatus();">
                                <option label=" Select "></option>
                            </select>
                        </label>
                        <label class="item item-input">
                            <div class="col text-left">Status Date </div>
                            <div class="col text-right">{{dateValue}}</div>
                        </label>

                        <div ng-if="showDates" class="item item-divider">Approving Start Date*</div>
                        <div ng-if="showDates" class="item item-icon-left" ion-datetime-picker date monday-first ng-model="approvinngstartdate" ng-click="openDatePicker1();">
                            <i class="icon ion-ios-calendar-outline positive"></i>
                            Click to open the date:
                            <div class="input-label">{{approvinngstartdate}}</div>
                        </div>
                        <div ng-if="showDates" class="item item-divider">Approving End Date*</div>
                        <div ng-if="showDates" class="item item-icon-left" ion-datetime-picker date monday-first ng-model="approvinngenddate" ng-click="openDatePicker2();">
                            <i class="icon ion-ios-calendar-outline positive"></i>
                            Click to open the date:
                            <div class="input-label">{{approvinngenddate}}</div>
                        </div>

                        <label class="item item-input">
                            <div class="input-label">Employee Comments*</div>
                            <textarea rows="6" ng-model="tradeapprove.EmployeeComments" maxlength="200" placeholder="Comments"></textarea>
                        </label>
                    </div>
                </div>
                <div class="item item-text-wrap viewWorkorderDetails" ng-if="data.StatusKey != 1">

                    <div class="item item-divider">Trade Request Details</div>
                    <label class="item item-input">
                        <div class="col text-left">Start Date </div>
                        <div class="col text-right">{{data.StartDate}}</div>
                    </label>
                    <label class="item item-input">
                        <div class="col text-left">End Date </div>
                        <div class="col text-right">{{data.EndDate}}</div>
                    </label>
                    <label class="item item-input">
                        <div class="col text-left">Requested Employee Name </div>
                        <div class="col text-right">{{data.Employeename}}</div>
                    </label>
                    <label class="item item-input">
                        <div class="col text-left">Other Employee Name </div>
                        <div class="col text-right">{{data.OtherEmployeename}}</div>
                    </label>
                    <label class="item item-input">
                        <div class="col text-left">Submitted Date </div>
                        <div class="col text-right">{{data.SubmittedDate}}</div>
                    </label>
                    <label class="item item-input">
                        <div class="col text-left">Comments </div>
                        <div class="col text-right">{{data.Comments}}</div>
                    </label>
                    <label class="item item-input">
                        <div class="col text-left">Status </div>
                        <div class="col text-right"><b>{{data.RequestStatus}}</b></div>
                    </label>

                    <div class="item item-divider">1st Approval Details</div>
                    <label class="item item-input">
                        <div class="col text-left">Other Employee Status Approved Date </div>
                        <div class="col text-right">{{data.OtherEmployeeStatusDate}}</div>
                    </label>
                    <label class="item item-input">
                        <div class="col text-left">Other Employee Approved Start Date</div>
                        <div class="col text-right">{{data.OtherEmployeeApprovedStartDate}}</div>
                    </label>
                    <label class="item item-input">
                        <div class="col text-left">Other Employee Approved End Date</div>
                        <div class="col text-right">{{data.OtherEmployeeApprovedEndDate}}</div>
                    </label>
                    <label class="item item-input">
                        <div class="col text-left">Other Employee Comment </div>
                        <div class="col text-right">{{data.OtherEmployeeComments}}</div>
                    </label>



                    <div class="item item-divider" ng-if="(data.StatusKey == 4 || data.StatusKey == 5 || data.StatusKey == 6 || data.StatusKey == 7)">2nd Approval Details</div>
                    <label class="item item-input" ng-if="(data.StatusKey == 4 || data.StatusKey == 5 || data.StatusKey == 6 || data.StatusKey == 7)">


                        <div class="col text-left">Approver</div>
                        <div class="col text-right">{{data.ApproverName}}</div>
                    </label>
                    <label class="item item-input" ng-if="(data.StatusKey == 4 || data.StatusKey == 5 || data.StatusKey == 6 || data.StatusKey == 7)">

                        <div class="col text-left">Status Updated Date </div>
                        <div class="col text-right">{{data.ApproverStatusDate}}</div>
                    </label>
                    <label class="item item-input" ng-if="(data.StatusKey == 4 || data.StatusKey == 5 || data.StatusKey == 6 || data.StatusKey == 7)">

                        <div class="col text-left">Approver Comments</div>
                        <div class="col text-right">{{data.ApproverComments}}</div>

                    </label>
                    <label class="item item-input" ng-if="(data.StatusKey == 4 || data.StatusKey == 6 || data.StatusKey == 7)">

                        <div class="col text-left">Approved Start Date</div>
                        <div class="col text-right">{{data.ApproverApprovedStartDate}}</div>
                    </label>
                    <label class="item item-input" ng-if="(data.StatusKey == 4 || data.StatusKey == 6 || data.StatusKey == 7)">

                        <div class="col text-left">Approved End Date </div>
                        <div class="col text-right">{{data.ApproverApprovedEndDate}}</div>

                    </label>
                    <div class="item item-divider" ng-if="data.StatusKey == 7">Cancelled Details</div>
                    <label class="item item-input" ng-if="data.StatusKey == 7">
                        <div class="col text-left">Cancelled Date</div>
                        <div class="col text-right">{{data.CancelledDate}}</div>
                    </label>


                </div>
                <div class="row">
                    <div class="row col text-center" ng-if="data.StatusKey == 4">
                        <button class="button button-full button-cancel" ng-click="cancelTrade()">Cancel Trade Request</button>
                        <!-- ui-sref="employeeDashboard.workorderCancel({workorderKey: data.WorkorderKey})" -->
                    </div>
                    <div class="row col text-center" ng-if="data.StatusKey == 6 && data.OtherEmployeeKey == toServeremployeekey">
                        <button class="button button-full button-cancel" ng-click="cancelApproveTrade()">Approve Cancel Trade Request</button>
                        <!-- ui-sref="employeeDashboard.workorderCancel({workorderKey: data.WorkorderKey})" -->
                    </div>
                </div>
                <div class="row col text-center" ng-if="data.StatusKey == 1 && data.EmployeeKey == toServeremployeekey">
                    <button class="button button-full button-positive" type="submit" ng-click="updateTradeDetails()">UPDATE</button>
                    <button class="button button-full" style="background-color:red!important" type="submit" ng-click="deleteTrade()">DELETE</button>

                </div>

                <div class="row col text-center" ng-if="data.StatusKey == 1 && data.OtherEmployeeKey == toServeremployeekey">
                    <button class="button button-full button-positive" type="submit" ng-click="saveTradeApproval()">SAVE</button>
                </div>

            </div>



        </div>
        <div><br><br></div>
    </ion-content>
    <!-- <ion-floating-button click="scrollToTop()" has-footer="false" button-color="#2AC9AA" icon="ion-ios-arrow-up" iconColor="#fff">
    </ion-floating-button> -->
</ion-view>