<ion-view view-title="Trade">

    <div cg-busy="{promise:myPromise,message:'Loading...',delay:300,minDuration:700,backdrop:true}"></div>
    <ion-content class="padding_inspection" delegate-handle="mainScroll">

        <div class="inspectionMenuButtons">
            <p><a class="button button-dark  button-block" ui-sref="supervisorDashboard.supervisorCreateTrade">Create Trade</a></p>
            <p><a class="button button-dark button-block" ui-sref="supervisorDashboard.supervisorViewTrade">View Trade</a></p>
        </div>

    </ion-content>

</ion-view>